body, p, td, th { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt; 
	text-align: left;
}
.subtle { 
	color: gray; 
	text-decoration: none; 
	font-size: 8pt; 
	cursor: pointer;
}
.small-symbol {
	font-family: "Noto Sans Symbols", "Segoe UI Symbol", sans-serif;
	font-size: 8pt;
	cursor: pointer;
}
#civ-search-info {
	display: none;
	position: absolute;
	top: 130px;
	left: 285px;
	transform: translateX(-50%);
	background-color: fffdd0;
	border: 1px solid black;
	padding: 10px;
	font-size: 9pt;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 285px;
	word-wrap: break-word;
	white-space: normal;
}
body {
	background-color: #990000;
}
table {
	background-color: #EAEAEA;
	border-color: #000000;
	border-style: solid;
	width: 750px;
}