body, p, td, th { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt; 
	text-align: left;
}
body {
	background-color: #900;
	margin-left: 20px;
}
thead > tr {
	background-color: #c5c5c5;
}
thead > tr > th {
	padding: 3px;
}
select optgroup {
	font-style: normal;
}
.headline {
	font-size: 12pt;
	color: #ffffff;
	font-weight: bold;
}
.small-headline {
	color: #ffffff;
	font-weight: bold;
}
.small-symbol {
	font-family: "Noto Sans Symbols", "Segoe UI Symbol", sans-serif;
	font-size: 8pt;
	cursor: pointer;
}
.left-td {
	padding-left: 15px;
}
.vert-td {
	vertical-align: top;
}
.center-td {
	text-align: center;
}
#left-panel-div {
	vertical-align: top;
	margin-right: 50px;
	display: inline-block;
}
#image-panel-div {
	position: fixed;
	display: none;
}
#filter-table {
	background-color: #EAEAEA;
	border-color: #000000;
	border-style: solid;
	width: 750px;
}
#name-field-td {
	padding-left: 5px;
}
#civ-search-info {
	display: none;
	position: absolute;
	background-color: #fffdd0;
	border: 1px solid black;
	padding: 10px;
	font-size: 9pt;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 285px;
	word-wrap: break-word;
	white-space: normal;
}
#results-table {
	border-spacing: 1px;
	width: 750px;
}
.results-row {
	cursor: pointer;
}
.results-row:nth-child(odd) {
	background-color: #ffffff;
}
.results-row:nth-child(even) {
	background-color: #eaeaea;
}
.results-row:hover {
	background-color: #c5c5c5;
}
.results-row > td {
	padding: 3px;
}
@media(max-width: 1365px) {
	body {
		margin-left: 15px;
	}
	#left-panel-div {
		margin-right: 20px;
	}
}